html, body {
	margin: 0;
	overflow: hidden;
	background: url("../image/bg-board2.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width:100%;
  	height:100%;
}

.p-0 {
	padding: 0px !important;
}

.p-10 {
	padding: 10px !important;
}

.p-15, .weui-cell {
	padding: 15px !important;
}

.p-20 {
	padding: 20px !important;
}

.p-30 {
	padding: 30px !important;
}

.p-l-0 {
	padding-left: 0px !important;
}

.p-l-10 {
	padding-left: 10px !important;
}

.p-l-15 {
	padding-left: 15px !important;
}

.p-l-20 {
	padding-left: 20px !important;
}

.p-l-30 {
	padding-left: 30px !important;
}

.p-r-0 {
	padding-right: 0px !important;
}

.p-r-5 {
	padding-right: 5px !important;
}

.p-r-10 {
	padding-right: 10px !important;
}

.p-r-15 {
	padding-right: 15px !important;
}

.p-r-20 {
	padding-right: 20px !important;
}

.p-r-30 {
	padding-right: 30px !important;
}

.p-r-40 {
	padding-right: 40px !important;
}

.p-t-0 {
	padding-top: 0px !important;
}

.p-t-10 {
	padding-top: 10px !important;
}

.p-t-15 {
	padding-top: 15px !important;
}

.p-t-20 {
	padding-top: 20px !important;
}

.p-t-30 {
	padding-top: 30px !important;
}

.p-b-0 {
	padding-bottom: 0px !important;
}

.p-b-10 {
	padding-bottom: 10px !important;
}

.p-b-15 {
	padding-bottom: 15px !important;
}

.p-b-20 {
	padding-bottom: 20px !important;
}

.p-b-30 {
	padding-bottom: 30px !important;
}

.p-b-40 {
	padding-bottom: 40px !important;
}

.m-0 {
	margin: 0px !important;
}

.m-l-5 {
	margin-left: 5px !important;
}

.m-l-10 {
	margin-left: 10px !important;
}

.m-l-15 {
	margin-left: 15px !important;
}

.m-l-20 {
	margin-left: 20px !important;
}

.m-l-30 {
	margin-left: 30px !important;
}

.m-l-40 {
	margin-left: 40px !important;
}

.m-r-5 {
	margin-right: 5px !important;
}

.m-r-10 {
	margin-right: 10px !important;
}

.m-r-15 {
	margin-right: 15px !important;
}

.m-r-20 {
	margin-right: 20px !important;
}

.m-r-30 {
	margin-right: 30px !important;
}

.m-r-40 {
	margin-right: 40px !important;
}

.m-t-5 {
	margin-top: 5px !important;
}

.m-t-0 {
	margin-top: 0px !important;
}

.m-t-10 {
	margin-top: 10px !important;
}

.m-t-15 {
	margin-top: 15px !important;
}

.m-t-20 {
	margin-top: 20px !important;
}

.m-t-30 {
	margin-top: 30px !important;
}

.m-t-40 {
	margin-top: 40px !important;
}

.m-b-0 {
	margin-bottom: 0px !important;
}

.m-b-5 {
	margin-bottom: 5px !important;
}

.m-b-10 {
	margin-bottom: 10px !important;
}

.m-b-15 {
	margin-bottom: 15px !important;
}

.m-b-20 {
	margin-bottom: 20px !important;
}

.m-b-30 {
	margin-bottom: 30px !important;
}

.m-b-40 {
	margin-bottom: 40px !important;
}

.title {
	width:100%;
	text-align:center;
	font-size:56px;
	color:#6afaff;
	margin-top: 15px;
}

.content {
	width:100%;
	height:85%;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.left {
	background:rgba(0,0,0,0.5);
	width:28%;
	height: 100%;
	margin-right: 0px;
	border-radius: 5px 0 0 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.center {
	width:42%;
	height:100%;
	border-radius: 0px;
}

.right {
	background:rgba(0,0,0,0.5);
	width:28%;
	height: 100%;
	margin-left: 0px;
	border-radius: 0px 5px 5px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
}

.chart-title {
	width:100%;
	font-size:14px;
	color:#fff;
	margin-left:30px;
	margin-top:5px;
	margin-bottom:5px;
}

.chart-title:before {
	content: '';
	background-image: url('../image/dot.png') ;
}

.userdiv {
	width:100%;
	height:30%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.user-info {
	width:50%;
	height: 50%;
	
}

.user-title {
	width:100%;
	text-align: center;
	font-size: 11px;
	color: white;
}

.user-value {
	width:100%;
	text-align: center;
	font-size: 22px;
	color: #1296db;
}


